<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sent</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
         <div class="mail-box">
                          <aside class="sm-side">
                              <div class="user-head">
                                  <div class="user-name">
                                    <h5><a href="#" id="username"></a></h5>
                                    <span><a href="#" id="email"></a></span>
                                  </div>
                              </div>
                              <div class="inbox-body">
                                  <a href="#compose" data-toggle="modal"  title="Compose"    class="btn btn-compose">
                                      Compose
                                  </a>
                                  <!-- Modal -->
                                  <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="compose" class="modal fade" style="display: none;">
                                      <div class="modal-dialog">
                                          <div class="modal-content">
                                              <div class="modal-header">
                                                  <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                                  <h4 class="modal-title">Compose</h4>
                                              </div>
                                              <div class="modal-body">
                                                  <form role="form" class="form-horizontal">
                                                      <div class="form-group">
                                                          <label class="col-lg-2 control-label">To</label>
                                                          <div class="col-lg-10">
                                                              <input type="text" placeholder="" id="inputReceiver" class="form-control">
                                                          </div>
                                                      </div>
                                                      <div class="form-group">
                                                          <label class="col-lg-2 control-label">Subject</label>
                                                          <div class="col-lg-10">
                                                              <input type="text" placeholder="" id="inputSubject" class="form-control">
                                                          </div>
                                                      </div>
                                                      <div class="form-group">
                                                          <label class="col-lg-2 control-label">Message</label>
                                                          <div class="col-lg-10">
                                                              <textarea rows="10" cols="30" class="form-control" id="inputMessage" name=""></textarea>
                                                          </div>
                                                      </div>

                                                      <div class="form-group">
                                                          <div class="col-lg-offset-2 col-lg-10">
                                                              <button onclick="sendEmail()" class="btn btn-send" type="submit">Send</button>
                                                          </div>
                                                      </div>
                                                  </form>
                                              </div>
                                          </div><!-- /.modal-content -->
                                      </div><!-- /.modal-dialog -->
                                  </div><!-- /.modal -->
                              </div>

                              <div id="emailModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content -->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Email Details</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p><strong>To:</strong> <span id="modalSender"></span></p>
                                            <p><strong>Subject:</strong> <span id="modalSubject"></span></p>
                                            <p><strong>Message:</strong></p>
                                            <p id="modalMessage"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                              <ul class="inbox-nav inbox-divider">
                                  <li>
                                      <a href="/inbox"><i class="fa fa-inbox"></i> Inbox <span class="label label-danger pull-right" id="inboxCount"></span></a>
                                  </li>
                                  <li class="active">
                                      <a href="/sent"><i class="fa fa-envelope-o"></i> Sent Mail</a>
                                  </li>
                                  <li>
                                    <a href="/stared"><i class="fa fa-star"></i> Stared</a>
                                </li>
                              </ul>


                          </aside>
                          <aside class="lg-side">
                              <div class="inbox-head">
                                  <h3>Sent</h3>
                              </div>
                              <div class="inbox-body">
                                  <table class="table table-inbox table-hover">
                                    <tbody id="emails">
                                  </tbody>
                                  </table>
                              </div>
                          </aside>
                      </div>
        </div>

        <script>
            var email;
            var umailToken;
            window.onload = async function() {
                var cookieArray = document.cookie.split(';');
                cookieArray.forEach(function(cookie) {
                    var pair = cookie.split('=');
                    var key = pair[0].trim(); // Remove any leading or trailing spaces
                    var value = pair[1];
                    if (key === 'umail_token') {
                        umailToken = value;
                    }
                });
                try {

                    const response = await fetch('/users/me/', {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Bearer ${umailToken}`
                        }
                    });

                    if (response.ok) {
                        // Handle successful login
                        console.error('Login success');
						const data = await response.json();
                        email = data.email
                        console.error(email);
                        document.getElementById("username").innerText = data.username;
                        document.getElementById("email").innerText = data.email;
                    } else {
                        // Handle unsuccessful login
                        console.error('Login failed');
                    }
                } catch (error) {
                    console.error('Error:', error);
                }
                try {
                    const response = await fetch(`/getsent?email=${email}`, {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Bearer ${umailToken}`
                        }
                    });
                    document.getElementById("emails").innerHTML = ''

                    if (response.ok) {
						const emails = await response.json();
                        for (let i = 0; i < emails.length; i++) {
                            var id = emails[i].id;
                            var read = '';
                            var starred;
                            var recipient = emails[i].recipient;
                            var subject = emails[i].subject;
                            var message = emails[i].message;
                            var email_date = new Date(emails[i].timestamp);
                            var current_date = new Date();
                            var date_to_show;
                            if(current_date.getFullYear() != email_date.getFullYear()) {
                                date_to_show = (email_date.getDate() < 10 ? '0' : '') + email_date.getDate()+'.'+(email_date.getMonth() < 9 ? '0' : '') + (email_date.getMonth()+1)+'.'+email_date.getFullYear()
                            } else if(current_date.getMonth() != email_date.getMonth() || current_date.getDate() != email_date.getDate()) {
                                date_to_show = email_date.toLocaleString('default', { month: 'short' })+' '+(email_date.getDate() < 10 ? '0' : '') + email_date.getDate()
                            } else {
                                date_to_show = (email_date.getHours() < 10 ? '0' : '') + email_date.getHours()+':'+(email_date.getMinutes() < 10 ? '0' : '') + email_date.getMinutes()
                            }
                            if(emails[i].starred_by_sender == true) {
                                starred = ' inbox-started'
                            } else {
                                starred = ''
                            }

                            let email_card = `
                            <tr class="${read}" onclick="readEmail('${recipient}', '${subject.replace(/\n/g, '<br>')}', '${message.replace(/\n/g, '<br>')}')">
                                <td class="inbox-small-cells" onclick="starUnstar(${id})"><i class="fa fa-star${starred}"></i></td>
                                <td class="view-message dont-show">To: ${recipient}</td>
                                <td class="view-message">${subject}</td>
                                <td class="view-message inbox-small-cells"></td>
                                <td class="view-message text-right">${date_to_show}</td>
                            </tr>
                            `;
                            document.getElementById("emails").innerHTML += email_card
                        }
                    } else {
                        console.error('Request failed');
                    }
                } catch (error) {
                    console.error('Error:', error);
                }

                try {
                    const response = await fetch(`/getunreademailsnumber?&email=${email}`, {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Bearer ${umailToken}`
                        }
                    });
                    if (response.ok) {
                        var count = await response.json()
                        document.getElementById("inboxCount").innerText = count
                    } else {
                        console.error('Request failed');
                    }

                } catch (error) {
                    console.error('Error:', error);
                }
            }

            async function starUnstar(id) {
                try {
                    const response = await fetch(`/starunstar?email_id=${id}&email=${email}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Bearer ${umailToken}`
                        }
                    });
                    location.reload()
                } catch (error) {
                    console.error('Error:', error);
                }
            }

            function readEmail(recipient, subject, message) {
                $('#modalSender').text(recipient);
                $('#modalSubject').html(subject);
                $('#modalMessage').html(message);

                $('#emailModal').modal('show');
            }

            async function sendEmail() {
                const sender = email
                const recipient = document.getElementById("inputReceiver").value
                const subject = document.getElementById("inputSubject").value
                const message = document.getElementById("inputMessage").value

                const response = await fetch('/sendemail', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                           "sender": sender,
                           "recipient": recipient,
                           "subject": subject,
                           "message": message,
                        })
                    });
            }
        </script>
</body>
</html>